html, body{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: 100px 100px 1fr;
    grid-template-columns: 1fr;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > h1 > a{
        text-decoration: none;
        color: black;
    }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    display: grid;
    justify-content: center;
    grid-template-rows: 50px 50px;
    & > div{
        display: flex;
        justify-content: center;
        align-items: center;
        & > a{
            color: black;
            text-decoration: none;
            font-size: 1.5em;
        }
        &:nth-child(1){
            background-color: red;
            border-radius: 15px 15px 0 0;
            border: 3px solid black;
        }
        &:nth-child(2){
            background-color: white;
            border-radius: 0 0 15px 15px;
            border: 3px solid black;
        }
    }
}